openapi: 3.0.0
info:
  contact:
    email: integrations@getaccept.com
    name: GetAccept API Team
    url: https://app.getaccept.com/api
  description: GetAccept provides a sales enablement platform for sales to design, send, promote, track, and e-sign sales documents, leveraging sales collateral, contract management, proposals, and electronic signatures in one place.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.getaccept.com/terms.html
  title: GetAccept Archive Communication Templates API
  version: '1.6'
servers:
- description: Production endpoint
  url: https://api.getaccept.com/v1
security:
- Oauth2:
  - basic
- Token: []
tags:
- externalDocs:
    url: https://app.getaccept.com/api/#communication-templates
  description: Communication templates allow you to customize email and SMS messages sent to recipients.
  name: Communication Templates
paths:
  /communication-templates:
    get:
      parameters:
      - description: Start list from record x
        in: query
        name: offset
        schema:
          default: 0
          type: integer
      - description: Number of records to list
        in: query
        name: limit
        schema:
          default: 20
          type: integer
      - description: Filter list on status
        in: query
        name: statuses
        schema:
          enum:
          - published
          - draft
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  communication_templates:
                    items:
                      $ref: '#/components/schemas/CommunicationTemplate'
                    type: array
                type: object
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
      - Communication Templates
      description: Receive a list of available communication templates.
      operationId: GetCommunicationTemplates
      summary: Get communication templates
    post:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunicationTemplate'
          description: OK
        '400':
          $ref: '#/components/responses/Invalid'
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
      - Communication Templates
      description: Create a communication template.
      operationId: CreateCommunicationTemplate
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  items:
                    type: string
                  type: array
                conversation_sendout_template:
                  type: object
                email_sendout_reminder_template:
                  type: object
                email_sendout_template:
                  type: object
                language:
                  description: One language code in ISO 639 form
                  type: string
                name:
                  description: Communication template name
                  type: string
                signed_sendout_template:
                  type: object
                status:
                  enum:
                  - published
                  - draft
                  type: string
              required:
              - name
              - language
              type: object
        required: true
      summary: Create communication template
  /communication-templates/{communicationTemplateId}:
    get:
      parameters:
      - description: Communication Template ID
        in: path
        name: communicationTemplateId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunicationTemplate'
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Communication Templates
      description: Receive a specific communication template.
      operationId: GetCommunicationTemplate
      summary: Get communication template
    put:
      parameters:
      - description: Communication Template ID
        in: path
        name: communicationTemplateId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/Invalid'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Communication Templates
      description: Updates a specific communication template.
      operationId: UpdateCommunicationTemplate
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  items:
                    type: string
                  type: array
                conversation_sendout_template:
                  type: object
                email_sendout_reminder_template:
                  type: object
                email_sendout_template:
                  type: object
                language:
                  type: string
                name:
                  type: string
                signed_sendout_template:
                  type: object
                status:
                  enum:
                  - published
                  - draft
                  type: string
              type: object
        required: true
      summary: Update communication template
components:
  schemas:
    Error:
      properties:
        description:
          type: string
        error:
          type: string
        status:
          type: number
      title: Error
      type: object
      x-ms-summary: Error
    CommunicationTemplate:
      description: Communication template details
      properties:
        tags:
          items:
            type: string
          type: array
        conversation_sendout_template:
          properties:
            automatic_message:
              type: boolean
            automatic_reminder_message:
              type: boolean
            conversation_starter:
              type: string
            reminder_message:
              type: string
          type: object
        created_at:
          type: string
        created_by:
          type: string
        email_sendout_reminder_template:
          properties:
            automatic_message:
              type: boolean
            button_text:
              type: string
            email_subject:
              type: string
            footer:
              type: string
            message:
              type: string
            sms_message:
              type: string
          type: object
        email_sendout_template:
          properties:
            automatic_message:
              type: boolean
            button_text:
              type: string
            email_subject:
              type: string
            footer:
              type: string
            message:
              type: string
            sms_message:
              type: string
          type: object
        entity_id:
          description: Entity ID
          type: string
        id:
          description: Communication template ID
          type: string
        language:
          description: Language code in ISO 639 form
          type: string
        name:
          description: Template name
          type: string
        signed_sendout_template:
          properties:
            button_text:
              type: string
            email_subject:
              type: string
            footer:
              type: string
            message:
              type: string
          type: object
        status:
          enum:
          - published
          - draft
          type: string
        type:
          type: string
        updated_at:
          type: string
        updated_by:
          type: string
      title: Communication Template
      type: object
  responses:
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Unauthorized
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The specified resource was not found
    Invalid:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Invalid data
  securitySchemes:
    Oauth2:
      description: For testing purpose, use client_id **api** and client_secret **app**
      flows:
        authorizationCode:
          authorizationUrl: https://app.getaccept.com/oauth2/authorize
          refreshUrl: https://app.getaccept.com/oauth2/token
          scopes:
            basic: Grants basic access to operations
          tokenUrl: https://app.getaccept.com/oauth2/token
      type: oauth2
    Token:
      bearerFormat: JWT
      description: Enter your bearer token
      scheme: bearer
      type: http
x-ms-connector-metadata:
- propertyName: Website
  propertyValue: https://www.getaccept.com
- propertyName: Privacy policy
  propertyValue: https://www.getaccept.com/privacy-policy
- propertyName: Categories
  propertyValue: Sales and CRM;Productivity
